{
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "transform-class-properties"
  ],
  "presets": [
    "es2015",
    "stage-0"
  ],
  "ignore": [
    "node_modules/**/*.js",
    "build/**/*.js",
    "wallaby.js"
  ]
}
